/*  your css code here. If applicable */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border-style: solid;
  border-color: orange;
  border-width: 1px; /* Apply 1px to all sides */
  text-align: center;
  padding: 3px 5px;
  box-sizing: border-box;
}

th {
  background-color: #888888;
  color: white;
}

.sub-total-text {
  text-align: right; /* Change to right alignment */
}